// To make screenshot tests more deterministic, we don't use CDNs or fonts that are already
// installed on the user's computer here, instead opting only for fonts that we explicitly have in
// our codebase. This makes it so that we always load the fonts from the same source, which makes it
// more consistent across different tests and different platforms.

@font-face {
  font-family: "Inter UI";
  src: url("~inter-ui/Inter (web)/Inter.var.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-style: oblique 0deg 10deg;
}
