*.bag filter=lfs diff=lfs merge=lfs -text
resources/**/*.afdesign filter=lfs diff=lfs merge=lfs -text
resources/**/*.png filter=lfs diff=lfs merge=lfs -text
resources/**/*.icns filter=lfs diff=lfs merge=lfs -text
