// We have some animations here and there. Disable them for screenshots.
// Per https://github.com/tsuyoshiwada/storybook-chrome-screenshot#disable-component-animation
* {
  transition: none !important;
  animation: none !important;
  caret-color: transparent !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 100%;
  outline: none;
  overflow: hidden;
}
